# Установка:  pip install -r requirements.txt
customtkinter>=5.2.2      
darkdetect>=0.8.0         
PyYAML>=6.0           
cryptography>=42.0
pyinstaller>=6.0         
pillow>=10.0              
ruff>=0.6                 